extends layout

block content
    .container-header
        h1 #{first_name} #{last_name}
        p #{skills}
    .container-about
        h4 About Me
        p #{about_me}
        h4 Contact Info
        p #{phone_number}
        p #{email}
        a(href="/download") Download Resume
        div(style='margin-left:20px;margin-top:20px')

            